<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EV1</title>
  </head>
  <body>
    <div class="mainWrap" id="app">

      <div class="mainWrap_column dataWrap">

        <div class="dataWrap_row">
          <div class="niedData">aaa</div>
        </div>
        
        <div class="dataWrap_row">
          <table class="logTable">
            <thead>
              <tr>
                <th class="logTable_heading">発表時刻</th>
                <th class="logTable_heading">地震ID</th>
                <th class="logTable_heading">情報番号</th>
                <th class="logTable_heading">震央</th>
                <th class="logTable_heading">深さ</th>
                <th class="logTable_heading">最大震度</th>
                <th class="logTable_heading">マグニチュード</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="data in niedData" v-if="niedData" class="logTable_row">
                <td class="logTable_data">{{ data.report_time }}</td>
                <td class="logTable_data">{{ data.report_id }}</td>
                <td class="logTable_data">{{ data.report_num }}</td>
                <td class="logTable_data">{{ data.region_name }}</td>
                <td class="logTable_data">{{ data.depth }}</td>
                <td class="logTable_data">{{ data.calcintensity }}</td>
                <td class="logTable_data">M{{ data.magunitude }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="mainWrap_column dataWrap">

        <div class="dataWrap_row">NHK地震情報</div>
        <div class="dataWrap_row">履歴</div>

      </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script>
      const socket = io()
      const app = new Vue({
        el: '#app',
        data: {
            niedData: []
          },
          mounted() {
            socket.on('nied', data => {
              console.log(data)
              this.niedData.unshift(data)
            })
          }
      })
    </script>
  </body>
</html>
